*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
main{
    width: 100%;
    position: relative;
}
#loader{
top: 50%;
left: 50%;
padding-top: 30px;
}
.loader{
width: 100%;
height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 1vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3vw;
    display: none;
}
.card{
    cursor: pointer;
    padding: 1px;
    width: 323.2px;
    border-radius:1vw;
    background: PaleTurquoise	;
}
.part-image{
    width: 320px;
    height: 150px;
}
.part-info{
text-align: center;
width: 323px; 
overflow-x: auto;
}
h1 {
    white-space: nowrap;
    overflow-x: hidden;
    position: relative;
    animation: train 10s linear infinite;
  }
  
  @keyframes train {
    20% {
      transform: translateX(0);
    }
    80% {
      transform: translateX(-100%);
    }
  }
  
p{
margin-bottom: 15px;
}